* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #c9bfbf;
  line-height: 1.5rem;
}

body {
  width: 100vw;
  background-color: #290000;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100vw;
  background-color: #1b0000;
  font-size: 1.4rem;
}

nav ul {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  list-style: none;
}

@media (max-width: 450px) {
  nav ul {
    font-size: 1rem;
    gap: 1.4rem;
  }
}

a {
  text-decoration: none;
  min-width: 0.8rem;
}

.spotlight {
  font-size: 1.6rem;
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  min-height: calc(100vh - 8vh);
  width: 100vw;
  font-size: 1.6rem;
  padding: 2rem;
}

#home {
  margin: 0;
  padding: 0;
  gap: 0;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  height: 68vh;
  width: 100vw;
  background-image: url(../img/blackwall.jpg);
  background-size: cover;
}

@media (max-width: 625px) {
  .aboutme {
    flex-direction: column;
    padding: 1rem;
  }
}

.aboutme div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-width: 225px;
  flex-wrap: wrap;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
}

h2 {
  line-height: 2rem;
}

.aboutme :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#portrait {
  height: 32vh;
  border-radius: 3rem;
}

@media (max-width: 625px) {
  #portrait {
    height: 20vh;
  }
}

button {
  padding: 1.2rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #290000;
  border-radius: 1.8rem;
}

@media (max-width: 500px) {
  button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
}

.cv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24vh;
  width: 100vw;
}

.download {
  background-color: #c9bfbf;
}

.download a {
  color: #290000;
}

@media (min-width: 800px) {
  #aboutmemain {
    flex-direction: row;
  }
}

.aboutmebubbles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textbubble {
  align-self: flex-start;
  background-color: rgb(201, 191, 191, 0.7);
  color: #290000;
  padding: 1.8rem 2rem;
  border-radius: 5rem;
}

@media (max-width: 1000px) {
  .textbubble {
    align-self: center;
  }
}

.textbubble h3,
.textbubble p,
.textbubble p strong,
.textbubble a {
  color: #290000;
}

.textbubble p {
  line-height: 2rem;
}

#surf {
  display: flex;
  height: 70vh;
  border-radius: 2rem;
}

#portfoliomain div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 1000px) {
  #portfoliomain div {
      flex-direction: column;
  }
}

#portfoliomain div section:hover {
  box-shadow: 5px 5px 5px 5px #c9bfbf;
}

div .projectbubble {
  width: 25vw;
  text-align: center;
}

@media (max-width: 1000px) {
  div .projectbubble {
    width: 50vw;
  }
}

@media (max-width: 700px) {
  div .projectbubble {
    width: 70vw;
  }
}

.projectimg {
  width: 20vw;
  border-radius: 3rem;
}

#portfoliomain a {
  align-self: center;
}

footer {
  font-size: 1.3rem;
  padding: 2rem 2rem;
  background-color: #1b0000;
}

@media (max-width: 625px) {
  footer {
    font-size: 0.7rem;
  }
}

#contact {
  display: flex;
  gap: 4rem;
}

@media (max-width: 625px) {
  #contact {
    gap: 1rem;
  }
}